<%- include('partials/head') %>
    <br>
    
<%- include('partials/header') %>
<br>
<%- include('partials/navigation') %>
    <h1>Welcome CSE Motors!</h1>
    

    <div class="container">
        <div class="text">
            DMC Delorean <br>
            3 Cup holders <br>
            Superman doors <br>
            Fuzzy dice! <br>
            <button>Own Today</button>
        </div>
        <div class="car"><img src="images/suv.jpg" alt="suv-car"></div>
    </div>

    <section class="container-1">
        <div class="Upgrades">
            <p>Delorean Upgrades</p><br>
            <div class="upgrades">
                <img src="/images/flux_capacitor.jpeg" alt="flux_capacitor">
                <a href="flux_capacitor" class="flux_capacitor">Flux_capacitor</a>
            </div>
            <div class="upgrades">
                <img src="/images/flame.png" alt="flame_decals">
                <a href="flame Decals">flame Decals</a>
            </div>
            <div class="upgrades">
                <img src="/images/bumper.jpg" alt="bumper">
                <a href="Bumper Sticker">Bumper Sticker</a>

            </div>
            <div class="upgrades">
                <img src="/images/hub camp.jpeg" alt="hub_caps">
                <a href="Hub Caps">Hub Caps</a>
            </div>
        </div>

        <div class="Reviews">
            <h1>DMC Delorean Reviews</h1>
            <ul>
                <li>"So fast it's almost like travelling in time (4/5)" </li> <br>
                <li>"Consist ride on the road(4/5)"</li> <br>
                <li>"I'm feeling McFly (5/5)"</li> <br>
                <li>"The Most futuristic ride of our day(4.5/5)"</li> <br>
                <li>"80's livin and I love it (5/5)"</li> <br>
            </ul>
        </div>
    </section>



    <%-include('partials/footer') %>






